@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothicbold.ttf');
    src: local('gothic'), url('../fonts/gothicbold.woff') format('woff'), url('../fonts/gothicbold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}


body {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.ui.menu, body, .letrero, .ui.header, .ui.form input[type="text"], .ui.form textarea, .ui.button
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #321C17;
}

.text.white {
    color: #FFFFFF;
}
.text.grey {
    color: #CCCCCC;
}
.text.black {
    color: #1B1C1D;
}
.text.orange {
    color: #EE7716;
}
.text.blue {
    color: #00BCDA;
}

.ui.menu, .ui.header, .text, h1, h2, h3, h4, .ui.button
{
    font-family: "Century Gothic", "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#inputNumeroRegistroOrcid
{
    margin-top: 3px;
}

.ui.form input:not([type]),
.ui.form input[type="text"],
.ui.form input[type="email"],
.ui.form input[type="search"],
.ui.form input[type="password"],
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="url"],
.ui.form input[type="number"], .ui.form textarea {
    font-family: "Century Gothic", "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.center.aligned
{
    text-align: center;
}

.azulMarino
{
    color: #003C6D;
}

.right.aligned
{
    text-align: right;
}

.compact.message.right
{
}

.ui.inverted.blue.segment
{
    background-color: #00BCDA !important;
}

.ui.yellow.button, .ui.yellow.buttons .button {
    background-color: #F3A712;
}

.ui.yellow.button:hover {
    background-color: #DE970A;
}

.bold
{
    font-weight: bold;
}

.ui.button
{
    cursor: pointer;
}

table.dataTable tbody td.right {
    text-align: right;
}

body#loginBody {
    background-color: #003C6D;
}

#adminLogin .image {
    margin-bottom: 50px;
}

#adminLogin .column {
    max-width: 800px;
    margin-top:50px;
    margin-bottom: 190px;
    height: 100% !important;
}

#adminLogin .submit.button
{
    margin-top: 20px;
}

#formLogin
{
    margin: 0px auto;
    padding-bottom: 30px;
    max-width: 450px;
}

#formLogin label
{
    text-align: left;
}

#adminLogin #creaCuenta
{
    background: none;
    border-top: 2px solid #F3A712;
}

.cursorPointer
{
    cursor: pointer;
}

/*header*/
#header
{
    margin-top: 180px;
}
#menuP
{
    background-color: #F3A712;
    padding: 0px;
    box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);
}

#fixedmenu
{
    top:0px;
    width: 100%;
    position: fixed;
    /*box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);*/
    z-index:101;
}

#barraLogo
{
    margin: 0px;
}

#barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 15% !important;
}


#barraMenuAdmin .ui.column.grid > .column[class*="nine wide"],
.ui.grid > .column.row > .column[class*="nine wide"],
.ui.grid > .row > .column[class*="nine wide"],
.ui.grid > .column[class*="nine wide"]
{
    width: 50% !important;
}

#barraMenuAdmin  .ui.column.grid > .column[class*="three wide"],
.ui.grid > .column.row > .column[class*="three wide"],
.ui.grid > .row > .column[class*="three wide"],
.ui.grid > .column[class*="three wide"]
{
    width: 25% !important;
}


.center.aligned.azulMarino
{
    padding-top: 15px;

}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.secondary.vertical.pointing.menu .active.item
{
    border-color: #F3A712;
    margin-right: 5px;
}

.ui.menu .ui.dropdown .menu > .active.item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #FFFFFF; !important;
}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.menu .ui.dropdown .menu> .item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .active.item
{

    color: #FFFFFF;
}

#mensajeExitoLogin
{
    margin: 30px 0 0 0 !important;
}

.ui.breadcrumb
{
    padding: 15px 0px 15px 30px;/*arriba,izquierda,abajo,derecha*/
}

.ui.basic.btnAdmin
{
    border: #003C6D 2px solid !important;
    color: #FFFFFF !important;
    background: #F3A712 !important;
}

.ui.basic.btnAdmin:hover
{
    border: #F3A712 2px solid !important;
    color: #FFFFFF !important;
    background: #003C6D !important;
}

.divided
{
    border-left: solid 1px #003C6D;
}

#tablaBienvenida thead th
{
    background: #003C6D;
    color: #FFFFFF;
}

.tituloBarra.azulMarino
{
    background-color: #003C6D;
    margin-top: -5px !important;

}

.tituloBarra, .ui.tituloBarra
{
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin: 0px;
}

.fondo.gris
{
    background: #F0F0F0;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.txt
{
    font-size: 15px;
}

.txt.azulMarino
{
    color: #003C6D;
    font-weight: bold;
}

.txtParentesis
{
    font-size: 12px !important;
}

.txtLittle
{
    font-size: 12px;
}

.bordeTop
{
    border-top: solid black 1px;
}

.center
{
    text-align: center;
}

.registroUsuario.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px ;
    height: 45px;
}

.agregarVideo.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px;
    height: 45px;
}

.quita1
{
    width: 30px;
}


#footer .ui.column.grid > .column[class*="ten wide"],
.ui.grid > .column.row > .column[class*="ten wide"],
.ui.grid > .row > .column[class*="ten wide"],
.ui.grid > .column[class*="ten wide"]
{
    width: 85% !important;
}

#buscadorMenuAdmin .ui.input
{
    margin-top: 22px;
}

#menuP .breadcrumb
{
    color: #FFFFFF;
}

#menuP .breadcrumb a
{
    color: #FFFFFF;
}

#menuP .breadcrumb a:hover
{
    color: #FFFFFF;
}

textarea
{
    max-height:100px ;
    min-height: 100px ;
}

#modalEliminar .azul.barra
{
    background-color: #003C6D;
    color: #FFFFFF;
}

#modalEliminar .btnPhd.azul
{
    background-color: #003C6D;
    color: #FFFFFF;
}

#modalEliminar .btnPhd.amarillo
{
    background-color: #F3A712;
    color: #FFFFFF;
}

.contenido
{
    margin: 30px;
}

#modalEliminar .actions
{
    background-color:  #FFFFFF;
}

#btnAgregarVideo
{
    margin-bottom: 22px;
}

.ui.message > .close.icon
{
    top: 8px;
    right: 8px;
}

.ui.message .list:not(.ui)
{
    margin: 0px;
}

#barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 74% !important;
}

.ui.success.message.messagePerfil
{
    margin: 0 0 10px 0 !important;
}

.ui.error.message
{
    margin-bottom: 20px !important;
}

.ui.success.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
    margin: 0 0 20px 0 !important;
}

.usuarioPHD .quita1
{
    margin: 9px 12px 8px 6px; /*arriba,izquierda,abajo,derecha*/
    /* display: none;*/
    float: left;
}

#flechaDropdown
{
    color: #FFFFFF !important;
    margin: 14px;
}

.ui.menu .item
{
    padding: 12px;
}

.nomUsuarioPHD
{
    margin-top: 15px !important;
    font-size: 15px;
    color: #FFFFFF;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #F3A712 !important;
    border-left: #F3A712 solid 5px;
}

#dropSimpleMenu
{
    width: 177px!important;
    height: 53px !important;
    margin-top: 39px !important;
    background: #343434;
}

/*nuevo*/
#barraMenuAdmin
{
    border-top: solid 4px #F3A712;
    background-color: #003C6D;
    padding: 0px;
    /*nuevo*/
    border-radius: inherit;
    margin: 0px;
}

.logoPHD
{
    margin: 20px 20px 20px 16px; /*arriba,izquierda,abajo,derecha*/
}

#dropdownMenu .dropSimpleMenu
{
    /*width: 177px!important;*/
    height: 53px !important;
    /*margin-top: 34px !important;*/
    margin-right: -1px;
    background: #343434;
    border-radius: 5px;
}

#dropdownMenu .ui.secondary.vertical.pointing.menu
 {
     left: 0px;
 }

#dropdownMenu .ui.icon.large.user
{
    color: #FFFFFF;
}

#dropdownMenu  .dropSimpleMenu:hover
{
    background-color: #F3A712;
    border-radius: 5px;
}

/*nuevo admin*/
#menuGeneralAdmin
{
    margin-top: 64px;
}

 .blueBackground
{
     background-color: #003C6D !important;
     text-align: center;
     height: 40px;
     border-radius: 5px 5px 0px 0px;  /*arriba,izquierda,abajo,derecha*/
}

#menuGeneralAdmin .txtHeader
 {
    color: #FFFFFF;
    padding: 8px;
 }

 #menuGeneralAdmin .contenedorBtn
 {
     border: 1px solid #003C6D;
     border-radius: 8px;
     padding: 0px !important;
     margin: 12px !important;
 }

#menuGeneralAdmin .button
 {
    border: solid 1px #003C6D;
    box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32) !important;
    margin-bottom: 15px;
    text-align: left;
    padding: 10px;
 }

#menuGeneralAdmin .items
{
    margin: 0px;
}

#menuGeneralAdmin .item
{
    margin: 0px;
    padding: 10px 10px 10px 10px; /*arriba,izquierda,abajo,derecha*/
}

.btnSepara
{
    margin-top: 22px;
}

#btnAgregarInvestigador
{
    margin-bottom: 22px;
}

#btnAgregarUsuario
{
    margin-bottom: 22px;
}

/*Responsiva*/

/*tabled*/
@media only screen and (max-width: 868px){

    /*#barraMenuAdmin
    {
        background-color: red;
    }*/

    #buscadorMenuAdmin
    {
        display: none;
    }

    .ui.fluid.input > input
    {
        width: 900px !important;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 50% !important;
    }

    /*header*/
    #barraMenuAdmin .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 35% !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 60% !important;
    }

    #logoChoco
    {
        max-width: 60px !important;
        margin-top: 14px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    /*reguistra usuario*/
    #actualizarInvestigador .nombreApellidos
    {
        display: grid !important;
    }
    #actualizarInvestigador .nombreApellidos .five.wide.field
    {
        width: 98% !important; /*102*/
    }
    #actualizarInvestigador .contenedorDoble
    {
        width: 100%;
    }
    #actualizarInvestigador .contenedorDoble .five.wide.field
    {
        width: 50% !important;
    }
    #actualizarInvestigador .ten.wide.field
    {
        width: 100% !important;
    }

    .txt.infoLlenado
    {
        text-align: center !important;
    }
    #actualizarInvestigador .contenedor .five.wide.field
    {
        width: 50% !important;
    }
    #actualizarInvestigador .contenedor.five.wide.field
    {
        width: 48% !important;
    }

    /*nuevo*/
    #formularioAdmin .fields
    {
        flex-direction:column;
    }

    #formularioAdmin .six.wide.field
    {
        width: 100% !important;
        padding: 0px;
    }

    #menuGeneralAdmin .ui.centered.grid > .column:not(.aligned):not(.row),
    .ui.centered.grid > .row > .column:not(.aligned),
    .ui.grid .centered.row > .column:not(.aligned)
    {
        width: 70% !important;
    }

    .fondo.gris
    {
        padding-left: 30px;
        padding-right: 30px;
    }

}

/*Cel*/
@media only screen and (max-width: 700px){

    /*#barraMenuAdmin
    {
        background-color: green ;
    }*/

    .txtDatosMenu
    {
        display: none !important;
    }
    .cel
    {
        display: block !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 40% !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 60% !important;
    }

    /*registro*/
    #actualizarInvestigador .contenedorDoble .five.wide.field
    {
        width: 100% !important;
    }
    #actualizarInvestigador .five.wide.field
    {
        width: 98% !important;
    }
    #actualizarInvestigador .contenedor .five.wide.field
    {
        width: 100% !important;
    }
    #actualizarInvestigador .contenedor.five.wide.field
    {
        width: 98% !important;
    }

    /*nuevo*/

    #menuGeneralAdmin .ui.centered.grid > .column:not(.aligned):not(.row),
    .ui.centered.grid > .row > .column:not(.aligned),
    .ui.grid .centered.row > .column:not(.aligned)
    {
        width: 80% !important;
    }

    .fondo.gris
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}
