body
{
    margin: 0px;
    padding: 0px;
    height: 0;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face
{
    font-family: 'Century Gothic';
    src: url('../fonts/gothicbold.ttf');
    src: local('gothic'), url('../fonts/gothicbold.woff') format('woff'), url('../fonts/gothicbold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

.txtTitulo
{
    font-size: 18px; !important;
}

.txtParentesis
{
    font-size: 12px !important;
}

#inputNumeroRegistroOrcid
{
    margin-top: 3px;
}


body
{
    font-family: "Century Gothic";
}

.ui.menu,body .ui.header
{
    font-family: "Century Gothic","";
}

.txtAmarillo
{
    color: #F3A712;
}


#itemTutoriales
{
    border: 0;
    background: #F3A712;
    box-shadow: none;
}

#itemTutoriales a
{
    color: white;
}

#itemTutoriales a:hover
{
    border-bottom: solid 2px #FFFFFF;
    background-color: transparent;

}

#videoTutorial
{
    margin-top: 20px;
    width: 50%;
}

#columnaTiempo
{
    width: 10%;
}

#tablaTutorial
{
    width: 70%;
    margin: 30px auto 30px auto;
}

#columnaTiempo
{
    color: #F3A712;
    border-bottom: 2px solid #F3A712;
}

#columnaElementos
{
    color: #003C6D;
    border-bottom: 2px solid #F3A712;

}

.ui.table tr td
{
    border-top: none !important;

}

.textoJustificado
{
    text-align: justify;
    text-justify: inter-word;
}

#contenedorAcercaDe
{
    margin-top: 50px;
}

#contenedorTutoriales
{
    margin-top: 50px;
}

#mensajeExito
{
    display: none;
    background-color: #F0F0F0;
    left: 0;
    padding: 20px;
    padding-top: 70px;
    position: absolute;
    display: none;
    font-size: 0.9em;
    height: 100%;
    text-align: center;
    top: 0;
    width: 100%;
}

#fixedmenu
{
    top:0px;
    width: 100%;
    position: fixed;
    /*box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);*/
    z-index:101;
}

#barraLogo
{
    margin: 0px;
}

.buscador
{
    width: 650px;
    margin-top:20px !important;
}

.usuarioPHD
{
    margin: 3px 20px 0px 10px; /*arriba,izquierda,abajo,derecha*/
    /* display: none;*/
    float: left;
}

#dropSimpleMenu .ui.simple.dropdown.item
{
    padding: 0px !important;
}

.nomUsuarioPHD
{
    margin-top: 15px !important;
    font-size: 15px;
    color: #FFFFFF;
}

.ui.icon.input #btnBuscador
{
    top: 11px !important;
}

#menuP
{
    background-color: #F3A712;
    margin: 0px;
    box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);
    border-radius: 0px;
}

#menuP .menuPData
{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.ui.menu .dropdown.item .menu
{
    background-color: #F3A712;
}

#suscribete
{
    background-color: #F0F3F5;
    margin-top: 10px;
    padding: 1rem;
}

#suscribete .txtSubcribe
{
    color: #003C6D;
}

#datosVideos .txtSubcribe
{
    color: #003C6D;
}

#datosVideos .colorTitulo
{
    color: #F3A712;
}

#colorRegistro
{
    color: #F3A712;
    text-decoration: underline;
}

.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover
{
    color: #FFFFFF;
}

.ui.menu .item
{
    color: #FFFFFF;
}

#menuP a:hover
{
    background-color: inherit;
}

#menuAreas
{
    background: transparent;
}

.lineaOption:hover,
#menuAreas.ui.dropdown.item .lineaOption2:hover
{
    border-bottom: solid 2px #FFFFFF;
    background-color: transparent;
}

.lineaOption
{
    float: right;
    padding-top: 0px;
    margin-left: 10px;
    color: #FFFFFF;
    height: 16px;
}

.optMenuFecha
{
    padding-left: 5px;
}


#menuAreas.ui.dropdown.item:hover
{
    background-color: transparent;
}

#menuP .txtMenu
{
    color: #FFFFFF;
}


#menuAreas.ui.dropdown .menu > .item
{
    color: #FFFFFF !important;
}

#menuAreas.ui.dropdown .menu > .item:hover
{
    background: none !important;
    text-decoration: underline;
}

.lineaOption2
{
    float: right;
    padding-top: 4px;
    margin-left: 10px;
    color: #FFFFFF;
}

#menuP .optMenu
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

#menuP .optMenu2
{
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}
/*index*/

#header
{
    margin-top: 200px;
}

/*Contenido*/


.txtContPHD
{
    margin: 35px 30px 30px 30px;/*arriba,izquierda,abajo,derecha*/
}

.reloj
{
    float: left;
    margin-right: 10px;
}

#cardImg .imagPhd
{
    height: 200px;
}

.ui.card, .ui.cards > .card
{
    width: 400px !important;
    box-shadow: none;
}
/*Videos*/

#contenido2
{
    /*margin-top: 270px;*/
    margin-bottom: 50px;
    color: #003C6D;
    margin-left: 35px;
}

/*Video Insertado*/

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Footer*/

#footerColor
{
    background-color: #003C6D;
    border-bottom: solid 4px #F3A712;
    width: 100%;
}

#logoChoco
{
    margin: 12px 20px 0px 20px; /*arriba,izquierda,abajo,derecha*/
}

.txtInfoFooter
{
    margin-top: 10px !important;
}

#gridFooter
{
    margin: 0 !important;
}

#itemFooter
{
    margin-left: 10px;
}

.txtFooter
{
    color: #FFFFFF !important;
    padding: 0.3rem !important;
}


#footerColor a:hover
{
   text-decoration: underline !important;
}

#barraMenu
{
    border-top: solid 4px #F3A712;
    background-color: #003C6D;
    padding: 0px;
    border-radius: inherit;
    margin: 0px;
}

.inputBuscar
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#buscadorUp
{
    width: 800px !important;
}

.logoPHD
{
    margin: 20px 40px 20px 16px; /*arriba,izquierda,abajo,derecha*/
}

#dropdownMenu .dropSimpleMenu
{
    /*width: 177px!important;*/
    height: 53px !important;
    /*margin-top: 34px !important;*/
    margin-right: -1px;
    background: #343434;
    border-radius: 5px;
}

#dropdownMenu .ui.secondary.vertical.pointing.menu
{
    left: 0;
}

#dropdownMenu .ui.icon.large.user
{
    color: #FFFFFF;
}

#dropdownMenu  .dropSimpleMenu:hover
{
    background-color: #F3A712;
    border-radius: 5px;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #F3A712 !important;
    border-left: #F3A712 solid 5px;
}

.btnYellow
{
    background-color: #F3A712 !important;
    color: #FFFFFF !important;
    box-shadow: 0 6px 6px -2px rgba(102,102,102,0.32) !important;
    margin-bottom: 20px !important;
}

#mensajeExito p
{
    font-size: 30px;
}

.alignedRight
{
    text-align: right;
    margin-right: 20px !important;
    margin-top: 50px !important;
}

#comentario
{
    resize: none;
}
/*termina nuevo*/
#buttonPHD
{
    border: solid 2px #003C6D;
    width: 200px;
    background-color: #F3A712 !important;
}

#buttonPHD .txtButton
{
    color: #FFFFFF;
}

#btnPHD
{
    margin-left: 70px;
    margin-top: 132px;
}

#dropSimpleMenu
{
    width: 177px!important;
    height: 40px !important;
    margin-top: 39px !important;
    background: #343434;
}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.menu .ui.dropdown .menu> .item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .active.item
{

    color: #FFFFFF;
}

.ui.secondary.vertical.pointing.menu .active.item
{
    border-color: #F3A712;
    margin-right: 5px;
}

.ui.menu .ui.dropdown .menu > .active.item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #FFFFFF; !important;
}

.tituloBarra.azulMarino
{
    background-color: #003C6D;
    margin-top: -20px !important;
}

.tituloBarra, .ui.header.tituloBarra
{
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin: 0px;
}


#home
{
    margin-top: 40px !important;
}
.center
{
    text-align: center;
}

.registroUsuario.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px;
    height: 45px;
}

.fondo.gris
{
    background: #F0F0F0;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#acercaDe
{
    background: #F0F0F0;
    margin-top: 20px;
    padding: 1px 0 30px 0;
}

#videoAcercaDe
{
    width: 50%;
    margin-top: -20px;
}

#txtAcercaDe
{
    margin-top: 35px;
}

.txtAvisos
{
    margin-left: 10px;
}

.txt
{
    font-size: 15px;
}

.txt.azulMarino
{
    color: #003C6D;
    font-weight: bold;
}

.txtLittle
{
    font-size: 12px;
}

.bordeTop
{
    border-top: solid black 1px;

}

.quita1
{
    width: 30px;
}

.buscadorVideos
{
    display: none;
}

#footer .ui.column.grid > .column[class*="ten wide"],
.ui.grid > .column.row > .column[class*="ten wide"],
.ui.grid > .row > .column[class*="ten wide"],
.ui.grid > .column[class*="ten wide"]
{
    width: 85% !important;
}

#barraMenu .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 15% !important;
}

#usuarioAdmin .ui.column.grid > .column[class*="three wide"],
.ui.grid > .column.row > .column[class*="three wide"],
.ui.grid > .row > .column[class*="three wide"],
.ui.grid > .column[class*="three wide"]
{
    width: 20% !important;
    text-align: right;
    padding-right: 40px;
}

#buscadorMenu .ui.column.grid > .column[class*="nine wide"],
.ui.grid > .column.row > .column[class*="nine wide"],
.ui.grid > .row > .column[class*="nine wide"],
.ui.grid > .column[class*="nine wide"]
{
    width: 50% !important;
}

.aligned.center
{
    margin-left: auto;
    margin-right: auto;
}

.left
{
    text-align: left !important;
}

.cel
{
    display: none !important;
    margin: 12px 20px 0px 20px; /*arriba,izquierda,abajo,derecha*/
}

#mensajeBusqueda
{
    margin-left: 25px;
}

.ui.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
}

.ui.success.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
    margin: 0px 50px 20px 50px;
}

#listaVideosBuscar
{
    /* background-color: red;*/
    width: 100% !important;
}

#header.conbarra
{
    margin-top: 260px;
}

#header{
    height: 0px;
    width: 100%;
}

#home {
    min-height: 100%;
    position:relative;
}

#contenedor {
    padding-bottom: 100px;
}

#footer{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 !important;
}
/*Responsiva*/

/*tabled*/
@media only screen and (max-width: 868px){

    /*#barraMenu
    {
       background-color: red;
    }*/

    #buscadorMenu
    {
        display: none;
    }
    .ui.input.buscadorSegundo
    {
        width: 95% !important;
        padding-left: 46px;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 50% !important;
    }

    /*header*/

    #barraMenu .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 70% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 30% !important;
    }

    /*contenido*/
    #menuP .txtMenu.txtFiltrar
    {
        display: none;
    }

    .buscadorVideos
    {
        display: block !important;
    }

    #contenido
    {
        padding-top: 10px;
    }

    .txtContPHD
    {
        margin-top: 8px;
    }

    .buscadorVideos .buscadorSegundo
    {
        /*arriba,izquierda,abajo,derecha*/
    }

    .buscadorVideos .ui.input input
    {
        border: solid #003C6D 1px !important;
    }

    /*footer*/


    #logoChoco
    {
        max-width: 60px !important;
        margin-top: 14px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    /*reguistra usuario*/
    #registroInvestigador .nombreApellidos
    {
        display: grid;
    }

    #registroInvestigador .nombreApellidos .five.wide.field
    {
        width: 98% !important; /*102*/
    }
    #registroInvestigador .contenedorDoble
    {
        width: 100%;

    }
    #registroInvestigador .contenedorDoble .five.wide.field
    {
        width: 50% !important;
    }

    #registroInvestigador .ten.wide.field
    {
        width: 100% !important;
    }

    .txt.infoLlenado
    {
        text-align: center !important;
    }

    #registroInvestigador .contenedor .five.wide.field
    {
        width: 50% !important;
    }

    #registroInvestigador .contenedor.five.wide.field
    {
        width: 48% !important;
    }

}

/*Cel*/
@media only screen and (max-width: 700px)
{

    .txtDatosMenu
    {
        display: none !important;
    }
    .cel
    {
        display: block !important;
    }

    /*#barraMenu
    {
        background-color: green;
    }*/

    .buscadorVideos
    {
        height: 90px !important;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 85% !important;
    }

    #footer .ui.column.grid > .column[class*="ten wide"],
    .ui.grid > .column.row > .column[class*="ten wide"],
    .ui.grid > .row > .column[class*="ten wide"],
    .ui.grid > .column[class*="ten wide"]
    {
        width: 75% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 40% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 60% !important;
        text-align: right !important;
        padding-right: 40px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    .buscadorVideos #buscador
    {
        margin: 60px  50px 0px 50px !important; /*arriba,izquierda,abajo,derecha*/
    }

    /*registro*/
    #registroInvestigador .contenedorDoble .five.wide.field
    {
        width: 100% !important;
    }
    #registroInvestigador .five.wide.field
    {
        width: 98% !important;
    }

    #registroInvestigador .contenedor .five.wide.field
    {
        width: 100% !important;
    }

    #registroInvestigador .contenedor.five.wide.field
    {
        width: 98% !important;
    }

}
